<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de login</title>
</head>
<body>
    <div>
        <h1>Login</h1>
        <input type="number" placeholder="CPF">
        <br><br>
        <input type="password" placeholder="Senha">
        <br><br>
        <button>Entrar</button>
        <button onclick="window.location.href='cadastroAtleta.html'">Cadastro</button>
    </div>
</body>
</html>