<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Alunos FETESE</title>
  <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }
    th, td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }
    th {
      background-color: #f2f2f2;
    }
  </style>
</head>
<body>
  <h1>Lista de Alunos FETESE</h1>
  <table>
    <thead>
      <tr>
        <th>Primero nome</th>
        <th>Sobrenome</th>
        <th>Data de nascimento</th>
        <th>Gênero</th>
        <th>Academia</th>
        <th>Endereço</th>
        <th>Escolaridade</th>
        <th>PCD</th>
        <th>Certificado</th>
        <th>Pagamento</th>
        <th>ID Fetese</th>
        <th>ID Kukkiwon</th>
        <th>Graduação</th>
      </tr>
    </thead>
    <tbody>
       <!-- <tr>
        <td>João Silva</td>
        <td>12</td>
        <td>Verde</td>
        <td>Academia XYZ</td>
      </tr>
      <tr>
        <td>Maria Oliveira</td>
        <td>15</td>
        <td>Azul</td>
        <td>Dojang ABC</td>
      </tr>
      <tr>
        <td>Pedro Santos</td>
        <td>18</td>
        <td>Vermelha</td>
        <td>Escola de Taekwondo Samurai</td>
      </tr> -->
      <!-- adicione mais linhas conforme necessário -->
    </tbody>
  </table>
</body>
</html>